<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>


  <style>
    td {
      --size: 55px;
      border: solid 1px var(--bs-gray);
      width: var(--size);
      height: var(--size);
      text-align: center;
    }

    .current { background-color: var(--bs-teal) !important; }
    .surrounding { background-color: #ddd; }
    .start { background-color: var(--bs-info); }
    .end { background-color: var(--bs-yellow); }
    .enemy { background-color: var(--bs-danger); }
  </style>
</head>

<body>
  <div id="app" class="container">
    <div class="settings p-2">
      <div class="row p-1">
        <label class="col-3 col-form-label" id="basic-addon1">number of rows</label>
        <div class="col-9">
          <input type="number" class="form-control" v-model="rowQuantity">
        </div>
      </div>

      <div class="row p-1">
        <label class="col-3 col-form-label" id="basic-addon1">number of columns</label>
        <div class="col-9">
          <input type="number" v-model="columnQuantity" class="form-control">
        </div>
      </div>
    </div>

    <div class="p-3">
      <table>
        <tr v-for="rowIndex in + rowQuantity">
          <td
            v-for="columnIndex in + columnQuantity"
            :class="{
              enemy: isEnemy(rowIndex, columnIndex),
              surrounding: isShadow(rowIndex, columnIndex),
              start: isStart(rowIndex, columnIndex),
              end: isEnd(rowIndex, columnIndex),
              current: isCurrent(rowIndex,columnIndex)
            }"
           >
            <div v-show="isCurrent(rowIndex,columnIndex)">
              O_O
            </div>

            <span class="text-gray">{{ rowIndex }}, {{ columnIndex }}</span>
          </td>
        </tr>
      </table>
    </div>

    <div class="control-panel p-2">
      <div class="row p-1">
        <label class="col-3 col-form-label" id="basic-addon1">number of enemies</label>
        <div class="col">
          <input type="number" v-model="enemyQuantity" class="form-control">
        </div>
        <div class="col-auto">
          <button class="btn btn-secondary" @click="generate">generate</button>
          <button class="btn btn-primary" @click="go">go</button>
        </div>
      </div>

      <div class="row p-2">
        <input
          class="col form-control"
          v-on:keyup.down="move('down')"
          v-on:keyup.up="move('up')"
          v-on:keyup.right="move('right')"
          v-on:keyup.left="move('left')"
        >
      </div>
    </div>
  </div>
</div>

<script>
  let testData = [
    { rowIndex: 5, columnIndex: 3 },
    { rowIndex: 5, columnIndex: 11 },
    { rowIndex: 11, columnIndex: 3 },
    { rowIndex: 11, columnIndex: 11 },
    { rowIndex: 4, columnIndex: 4 },
    { rowIndex: 4, columnIndex: 10 },
    { rowIndex: 12, columnIndex: 4 },
    { rowIndex: 12, columnIndex: 10 },
    { rowIndex: 11, columnIndex: 0 },
    { rowIndex: 9, columnIndex: 12 },
    { rowIndex: 2, columnIndex: 1 },
    { rowIndex: 2, columnIndex: 14 },
    { rowIndex: 6, columnIndex: 2 },
    { rowIndex: 4, columnIndex: 13 },
  ]

  const vue = new Vue({
    el: '#app',

    data() {
      return {
        rowQuantity: 7,
        columnQuantity: 7,
        enemyQuantity: 5,
        enemies: [],
        current: {
          rowIndex: 0,
          columnIndex: 0
        }
      }
    },

    methods: {
      generate () {
        // TODO: to implement...
      },

      go () {
        let result
        // TODO: to implement...

        alert(`Result: ${result}`)
      },

      isEnemy (rowIndex, columnIndex) {
        const toCheck = { rowIndex, columnIndex }

        return this.enemies.find(enemy => isSameLocation(enemy, toCheck))
      },

      isStart (rowIndex, columnIndex) {
        const toCheck = { rowIndex, columnIndex }
        const origin = { rowIndex: 0, columnIndex: 0 }

        return isSameLocation(origin, toCheck)
      },

      isEnd (rowIndex, columnIndex) {
        const toCheck = { rowIndex, columnIndex }
        const destination = {
          rowIndex: this.rowQuantity - 1,
          columnIndex: this.columnQuantity - 1
        }

        return isSameLocation(destination,toCheck)
      },

      isShadow (rowIndex, columnIndex) {
        const toCheck = { rowIndex, columnIndex }

        return this.enemies.find(enemy => isAdjacentLocation(enemy, toCheck))
      },

      isCurrent (rowIndex, columnIndex) {
        const toCheck = { rowIndex, columnIndex }

        return isSameLocation(this.current, toCheck)
      },

      move (direction) {
        if (direction == 'up') {
          this.current.rowIndex --
        }
        if (direction == 'down') {
          this.current.rowIndex ++
        }
        if (direction == 'right') {
          this.current.columnIndex ++
        }
        if (direction == 'left') {
          this.current.columnIndex --
        }
      }
    },
  })


  function isSameLocation(first, second) {
    return first.rowIndex == second.rowIndex && first.columnIndex == second.columnIndex
  }

  function isAdjacentLocation(enemy, toCheck) {
    const surrounding = [
      { rowIndex: enemy.rowIndex + 1, columnIndex: enemy.columnIndex },
      { rowIndex: enemy.rowIndex - 1, columnIndex: enemy.columnIndex },
      { rowIndex: enemy.rowIndex, columnIndex: enemy.columnIndex + 1 },
      { rowIndex: enemy.rowIndex, columnIndex: enemy.columnIndex - 1 },
    ]

    return surrounding.find(position => isSameLocation(position, toCheck))
  }
</script>

</body>

</html>